[submodule "PipePipeClient"]
	path = PipePipeClient
	url = git@github.com:CCCMNSB/PipePipeClient.git
	branch = dev
[submodule "PipePipeExtractor"]
	path = PipePipeExtractor
	url = git@github.com:CCCMNSB/PipePipeExtractor.git
	branch = main

